<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Seed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!--<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic|Inconsolata'-->
    <!--rel='stylesheet' type='text/css'>-->

    <link href="/stylesheets/ie10mobile.css" rel="stylesheet"/>
    <link href="/stylesheets/bootstrap/less/bootstrap.css" rel="stylesheet"/>
    <link href="/stylesheets/jquery.growl.css" rel="stylesheet"/>
    <link href="/stylesheets/jqueryui/redmond/jquery-ui-1.10.3.custom.css" rel="stylesheet"/>
    <link href="/stylesheets/less/responsive.css" rel="stylesheet"/>
    <link href="/stylesheets/app/app.css" rel="stylesheet"/>
    <link href="/stylesheets/app/bootstrapOverrides.css" rel="stylesheet"/>
</head>
<body ng-app="app">
<div>
    <div data-ng-include="'/app/layout/shell.html'"></div>
</div>
</body>

<script src="/bower/spinjs/spin.js"></script>
<script src="/bower/jquery/dist/jquery.js"></script>
<script src="/bower/jqueryui/ui/jquery-ui.js"></script>
<script src="/bower/growl/javascripts/jquery.growl.js"></script>
<script src="/bower/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower/underscore/underscore.js"></script>
<script src="/bower/moment/moment.js"></script>

<script src="/bower/angular/angular.js"></script>
<script src="/bower/angular-route/angular-route.js"></script>
<script src="/bower/angular-resource/angular-resource.js"></script>
<script src="/bower/angular-cookies/angular-cookies.js"></script>
<script src="/bower/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower/angular-translate/angular-translate.js"></script>
<script src="/bower/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower/angularjs-localizationservice/src/localize.js"></script>

<script src="/app/app.js"></script>
<script src="/app/config.js"></script>
<script src="/app/config.exceptionHandler.js"></script>
<script src="/app/config.route.js"></script>


<script src="/app/authenticate/authenticate.js"></script>
<script src="/app/authenticate/authenticateController.js"></script>

<script src="/app/home/homeController.js"></script>


<script src="/app/services/filters.js"></script>
<script src="/app/services/directives.js"></script>


<!-- common Modules -->
<script src="/app/common/library_wrappers.js"></script>
<script src="/app/common/common.js"></script>
<script src="/app/common/logger.js"></script>
<script src="/app/common/spinner.js"></script>

<script src="/app/layout/shell.js"></script>

</html>
